* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --small-text: 14px;
  --medium-text: 16px;
  --large-text: 18px;
  --2xl-text: 24px;
  --layout: 1240px;
  --nav-size: 100px;
  --sidebar-size: 255px;
  --layout-gap: 35px;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-400: #a0aec0;
  --gray-700: #2d3748;
  --grey-dark: #596274;
  --gray-light: #d0d5dd;
  --blue-color: #0356e8;
  --black-color: #1c1c1e;
  --btn-text-color: #fff;
  --btn-bg-color: #0356e8;
  --btn-bg-hover-color: #0048c5;
  --bg-color: #f4f7fc;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #d6d6d6;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
